<div *ngIf="!user" class="bigBox">
  <img class="loginAvatar" src="../../../assets/images/loginIcon.png">

  <form ngNativeValidate (submit)="login(username.value, password.value)">

    <div class="form-group firstInputField">
      <label class="label" for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" #username required tabindex="1">
    </div>

    <div class="form-group secondInputField">
      <label class="label" for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" #password tabindex="2" required>
    </div>


    <button class="submitButton" type="submit" tabindex="3">Submit</button>
  </form>

</div>